@import "../../constants/constants.scss";

.ToggleButton {
    position: relative;
    width: 70px;
    height: 22px;
    border-radius: 11px;
    border: $secondaryBorder;
    background: $buttonGradientHover;
    cursor: pointer;
    & > div {
        position: absolute;
        top: 1.5px;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        border: $tertiaryBorder;
        background: $buttonGradient;
        box-shadow: 1px 1px black;
        &:hover {
            border: 1px solid $activeButtonTextColor;
        }
        & > div {
            position: absolute;
            top: 5.5px;
            left: 5.5px;
            width: 4.5px;
            height: 4.5px;
            border-radius: 10px;
            border: $primaryBorder;
            box-shadow: -1px -1px black;
            pointer-events: none;
        }
    }
}