@import "../../constants/constants.scss";

.MainMenu {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    min-width: 120px    ;
    max-width: 150px;
    padding: 10px;
    background: #202020;
    color: $primaryTextColor;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: $medFont;
        text-align: center;
    }
    div {
        padding: 5px 0;
    }
    div div {
        display: flex;
        justify-content: space-between;
        &:hover { background: $buttonHoverBackgroundColor; }
        label {
            cursor: pointer;
        }
    }
    button {
        font-size: $medFont;
        border: 1px solid $primaryTextColor;
        background: transparent;
        color: $primaryTextColor;
        &:hover { background: $buttonHoverBackgroundColor; }
    }
}