$primarytColor: #c2c2c2;
$activeBtnBg: #4cc3f1;
$border: 1px solid rgba(221, 221, 221, 0.1);

.GradientButtons {
    display: flex;
    height: 40%;
    button {
        position: relative;
        border: none;
        background: transparent;
        color: $primarytColor;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
            color: $activeBtnBg;
            font-size: 16px;
        }
        & > div {
            position: absolute;
            width: 6px;
            height: 6px;
            top: 3px;
            right: 3px;
            border-radius: 5px;
            border: 1px solid rgba(221, 221, 221, 0.2);
        }
        .btn--active { background: $activeBtnBg; }
        .btn--inactive { background: rgba(0, 0, 0, 0.7); }
    }
    & > div {
        height: 100%;
        width: 15%;
        display: flex;
        &:first-child {
            flex-direction: column;
            button {
                width: 100%;
                height: 50%;
                &:first-child { border-bottom: $border; }
            }
        }
        &:nth-child(2) {
            button {
                width: 50%;
                height: 100%;
                border-left: $border;
                font-size: 20px;
                &:hover { font-size: 16px; }
            }
        }
        &:nth-child(3) {
            border-left: $border;
            flex-wrap: wrap;
            width: 20%;
            button {
                width: 50%;
                height: 50%;
                &:nth-child(1) { border-bottom: $border; }
                &:nth-child(2) { 
                    border-left: $border;
                    border-bottom: $border;
                }
                &:nth-child(4) { border-left: $border; }
            }
        }
        &:nth-child(4) {
            width: 10%;
            display: flex;
            flex-direction: column;
            button {
                width: 100%;
                height: 100%;
                border-left: $border;
                font-size: 25px;
                &:hover { font-size: 20px; }
            }
        }
        &:nth-child(5) {
            width: 10%;
            button {
                width: 100%;
                height: 100%;
                border-left: $border;
                border-right: $border;
                font-size: 25px;
                font-weight: lighter;
                &:hover { font-size: 20px; }
            }
        }
        &:nth-child(6) {
            margin-left: auto;
            button {
                width: 100%;
                height: 100%;
                border-left: $border;
            }
        }
    }
}


@media only screen and (max-width: 500px) {
    .App .GradientButtons button { 
        font-size: 14px !important; 
        &:hover { font-size: 12px; }
    }
}