@import "../../variables/variables.scss";

.ResultDisplay {
    width: 40%;
    height: 49%;
    display: flex;
    flex-direction: column;
    .ResultDisplay__header {
        .ResultDisplay__menu-btn {
            width: 5%;
            height: 100%;
            border: none;
            background: transparent;
            color: $primaryTextColor;
            font-size: 18px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
            cursor: pointer;
            &:hover {
                font-size: 14px;
            }
        }
    }
    .ResultDisplay__checkered-bg, .ResultDisplay__color-bg {
        width: 100%;
    }
    .ResultDisplay__checkered-bg { height: 93%; }
    .ResultDisplay__color-bg { 
        position: relative;
        height: 100%;
        border: $primaryBorder;
    }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .ResultDisplay {
        width: 100%;
    }
}