@import "../../variables/variables.scss";

.ResultDisplay {
    width: 40%;
    height: 49%;
    display: flex;
    flex-direction: column;
    .ResultDisplay__header {
        div {
            background: $buttonGradient;
            .ResultDisplay__menu-btn {
                font-size: $lrgFont;
                &:hover {
                    font-size: $medFont;
                }
            }
            &:hover {
                background: $buttonGradientHover;
            }
        }
    }
    .ResultDisplay__checkered-bg, .ResultDisplay__color-bg {
        width: 100%;
    }
    .ResultDisplay__checkered-bg { height: 93%; }
    .ResultDisplay__color-bg { 
        position: relative;
        height: 100%;
    }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .ResultDisplay {
        width: 100%;
    }
}