@import "../../constants/constants.scss";

.LengthInput {
    display: flex;
    justify-content: space-around;
    background: $tertiaryBackgroundColor;
    border-radius: $borderRadius;
    border: $tertiaryBorder;
    input {
        width: calc(100% - 40px);
        min-height: 20px;
        background: $tertiaryBackgroundColor;
        font-size: $xsmFont;
        border: none;
        color: $secondaryTextColor;
        text-align: center;
    }
    .invalid {
        color: $warningTextColor;
        box-shadow: none;
    }
    & > div {
        height: 100%;
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        line-height: $lrgFont;
        color: $secondaryTextColor;
        &:nth-child(2) {
            width: 20px;
            height: 100%;
            font-size: $xsmFont;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                opacity: 0.75;
            }
        }
        &:nth-child(3) {
            width: 20px;
            color: $secondaryTextColor;
            border-left: $tertiaryBorder;
            background: $secondaryBackgroundColor;
            background: $buttonGradient;
            text-shadow: -1px -1px black;
            cursor: pointer;
            &:hover {
                color: $activeButtonTextColor;
                background: $buttonHoverBackgroundColor;
                background: $buttonGradientHover;
                font-size: $xsmFont;
                text-shadow: 1px 1px black;
            }
        }
        &:last-child {
            content: "";
            position: relative;
            height: 100%;
            min-height: 20px;
            width: 0px;
        }
    }
    .LengthInput__options {
        position: absolute;
        top: 100%;
        right: -0.5px;
        min-height: 26px;
        display: flex;
        justify-content: space-evenly;
        background: $secondaryBackgroundColor;
        border-radius: $borderRadius;
        border: $tertiaryBorder;
        z-index: 10;
        button {
            min-height: 26px;
            min-width: 26px;
            background: $tertiaryBackgroundColor;
            background: $buttonGradient;
            border: none;
            padding: 0 5px;
            font-size: $xsmFont !important;
            color:$secondaryTextColor;
            text-shadow: -1px -1px black;
            &:not(:first-child) { border-left: $tertiaryBorder; }
            &:hover {
                font-size: $medFont;
                color: $activeButtonTextColor;
                background: $buttonGradientHover;
                text-shadow: 1px 1px black;
            }
        }
    }
    .LengthInput__error-msg {
        position: absolute;
        bottom: 100%;
        right: -70px;
        width: 200px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $tertiaryBackgroundColor;
        border-radius: $borderRadius;
        border: $tertiaryBorder;
        color: $warningTextColor;
        font-style: italic;
        font-size: $medFont;
        z-index: 10;
    }
}