@import "../../variables/variables.scss";

.LengthInput {
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
    border: $tertiaryBorder;
    input {
        width: calc(100% - 40px);
        background: $tertiaryBackgroundColor;
        font-size: 12px;
        border: none;
        color: $secondaryTextColor;
        text-align: center;
    }
    input:invalid {
        color: $warningTextColor;
        box-shadow: none;
    }
    & > div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        line-height: 20px;
        color: $secondaryTextColor;
        &:nth-child(2) {
            width: 20px;
            font-size: 14px;
            background: $tertiaryBackgroundColor;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:nth-child(3) {
            width: 20px;
            color: $secondaryTextColor;
            border-left: $tertiaryBorder;
            cursor: pointer;
            &:hover {
                color: $activeButtonTextColor;
                background: $buttonHoverBackgroundColor;
            }
        }
        &:last-child {
            position: relative;
            width: 0;
            height: 0;
        }
    }
    .LengthInput__options {
        position: absolute;
        bottom: -48px;
        right: -1px;
        display: flex;
        background: $secondaryBackgroundColor;
        border-radius: $borderRadius;
        border: $tertiaryBorder;
        z-index: 1002;
        button {
            background: $tertiaryBackgroundColor;
            border: none !important;
            padding: 0 5px;
            font-size: 14px !important;
            color:$secondaryTextColor;
            &:hover {
                font-size: 14px;
                color: $activeButtonTextColor;
            }
        }
    }
}