@import "../../variables/variables.scss";

.GradientSliderRuler {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: calc(100% - 40px);
        height: 33.3%;
    }
}