@import "../../constants/constants.scss";

.Code {
    width: 40%;
    height: 40%;
    color: $primaryTextColor;
    background-image: $dottedImg;
    header {
        div {
            display: flex;
            content: "";
            background: $buttonGradient;
            button {
                width: 35px;
                height: 28px;
                div {
                    width: 20px;
                    height: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &:hover {
                    background: $buttonGradientHover;
                    div {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
    div {
        span { font-family: "Fira", monospace; }
        span.token.punctuation { color: $codeWhite; }
        span.token.property { color: $codeWhite; }
        span.token.number { color: $codeYellow; }
        span.token.function { color: $codeOrange; }
        span.token.unit { color: $codeRed; }
    }
}