@import "../../constants/constants.scss";

.Code {
    width: 40%;
    height: 50%;
    max-height: 50%;
    color: $primaryTextColor;
    background-image: $dottedImg;
    header {
        div {
            height: 100%;
            display: flex;
            content: "";
            background: $buttonGradient;
            button {
                width: 35px;
                height: 28px;
                div {
                    width: 20px;
                    height: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &:hover {
                    background: $buttonGradientHover;
                    div {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
    div {
        height: calc(100% - 35px);
        max-height: 100%;
        max-width: 100%;
        overflow: auto;
        span { font-family: "Fira", monospace; }
        span.token.punctuation { color: $codeWhite; }
        span.token.property { color: $codeWhite; }
        span.token.number { color: $codeYellow; }
        span.token.function { color: $codeOrange; }
        span.token.unit { color: $codeRed; }
        span.token.keyword { color: $codePurple; }
        span.token.css-color-name {color: $codeGreen; }
        .ColorPreview {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 2px;
            background-position: center;
            background-repeat: no-repeat;
            border: 2px solid white;
            border-radius: 1px;
        }
    }
}