@import "../../constants/constants.scss";

.BackgroundSettings {
    width: 100px;
    height: 100px;
    position: absolute;
    width: 400px;
    height: 500px;
    background: #161616;
    border: $primaryBorder;
    z-index: 1001;
    font-size: $medFont;
    color: $primaryTextColor;
    button {
        position: relative;
        height: 26px;
        background: transparent;
        background: $buttonGradient;
        color: $primaryTextColor;
        font-size: $medFont;
        border: $secondaryBorder;
        border-radius: $borderRadius;
        text-shadow: -1px -1px black;
        cursor: pointer;
        &:hover {
            background: $buttonHoverBackgroundColor;
            background: $buttonGradientHover;
            font-size: $smlFont;
            color: $activeButtonTextColor;
            text-shadow: 1px 1px black;
        }
    }
    .LengthInput {
        width: 80px;
    }
    .BackgroundSettings__header {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        border-bottom: $primaryBorder;
        span span {
            font-size: $smlFont;
            color: $tertiaryTextColor;
        }
        button {
            height: 29px;
            width: 30px;
            border: none;
            border-left: $tertiaryBorder;
            color: $warningTextColor;
        }
    }
    .BackgroundSettings__body {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .BackgroundSettings__section {
            width: 100%;
            & > .BackgroundSettings__position {
                width: 100%;
                display: flex;
                flex-direction: column;
                & > div:first-child {
                    padding: 5px 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    & > div {
                        width: 50%;
                        & > div {
                            display: flex;
                            justify-content: space-evenly;
                            button {
                                width: 30%;   
                            }
                        }
                    }
                }
                & > div:last-child {
                    width: 100%;
                    display: flex;
                    padding-bottom: 5px;
                    border-bottom: $secondaryBorder;
                    & > div {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            & > div {
                width: 100%;
            }
            & > div:first-child {
                display: flex;
                padding-bottom: 5px;
                justify-content: space-between;
                align-items: center;
                border-bottom: $tertiaryBorder;
            }
        }
        .BackgroundSettings__size {
            display: flex;
            justify-content: space-evenly;
        }
    }
}