@import "../../constants/constants.scss";

.BackgroundSettings {
    width: 100px;
    height: 100px;
    position: absolute;
    width: 400px;
    height: 500px;
    background: #161616;
    border: $primaryBorder;
    z-index: 1001;
    font-size: $medFont;
    color: $primaryTextColor;
    button {
        position: relative;
        height: 26px;
        background: transparent;
        background: $buttonGradient;
        color: $primaryTextColor;
        font-size: $medFont;
        border: $secondaryBorder;
        border-radius: $borderRadius;
        text-shadow: -1px -1px black;
        cursor: pointer;
        &:hover {
            background: $buttonHoverBackgroundColor;
            background: $buttonGradientHover;
            font-size: $smlFont;
            color: $activeButtonTextColor;
            text-shadow: 1px 1px black;
        }
    }
    .LengthInput {
        width: 80px;
    }
    .BackgroundSettings__header {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        border-bottom: $primaryBorder;
        span span {
            font-size: $smlFont;
            color: $tertiaryTextColor;
        }
        button {
            height: 29px;
            width: 30px;
            border: none;
            border-left: $tertiaryBorder;
            color: $warningTextColor;
        }
    }
    .BackgroundSettings__body {
        width: calc(100% - 10px);
        height: calc(100% - 30px);
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .BackgroundSettings__section {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:first-child { height: 35%; }
            &:nth-child(2) { height: 20%; }
            &:nth-child(3) { height: 30%; }
            &:nth-child(4) { height: 15%; }
            & > div:first-child {
                height: 30px;
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            & > div:last-child {
                height: calc(100% - 22px);
            }
            & > .BackgroundSettings__position {
                width: 100%;
                display: flex;
                border-bottom: $tertiaryBorder;
                & > div:first-child {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    & > div { 
                        width: 100%;
                        & > div {
                            padding: 5px 0;
                            display: flex;
                            justify-content: space-evenly;
                            button {
                                width: 40%;   
                            }
                        }
                    }
                }
                & > div:last-child {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    padding-bottom: 5px;
                    & > div {
                        width: 100%;
                        height: 22px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            & > div {
                width: 100%;
            }
        }
        .BackgroundSettings__size {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-bottom: $tertiaryBorder;
            & > div {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: stretch;
                & > div {
                    display: flex;
                    height: 22px;
                    justify-content: space-evenly;
                }
            }
        }
        .BackgroundSettings__repeat {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            border-bottom: $tertiaryBorder;
            button {
                width: 30%;
                margin-bottom: 5px;
            }
        }
        & > div:last-child {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            button {
                width: 20%;
                &:last-child:hover {
                    color: $warningTextColor;
                }
            }
        }
    }
}