// ----------- COLOR PALETTE ----------
// BACKGROUND COLORS
$primaryBackgroundColor:      #202020;
$secondaryBackgroundColor:    #161616;
$tertiaryBackgroundColor:     #101010;
$messageShadeBackgroundColor: #000000b3;
$buttonHoverBackgroundColor:  #ffffff27;
// BORDER COLOR
$primaryBorderColor:          #7a7a7a;
$secondaryBorderColor:        #3e3e3e;
$tertiaryBorderColor:         #2a2a2a;
$messageBorderColor:          #222222;
$shadeBorderColor:            #1a1a1a;
// TEXT COLOR
$primaryTextColor:            #c2c2c2;
$secondaryTextColor:          #b7b7b7;
$tertiaryTextColor:           #887c8b;
$activeButtonTextColor:       #4cc3f1;
$warningTextColor:            #ff1493;
$buttonInactiveColor:         #0c0c0c;
// CODE TEXT COLORS
$codeBlue:                    #72e0d1;
$codeYellow:                  #ffe188;
$codeOrange:                  #fc9463;
$codeWhite:                   #aaafbb;
$codeRed:                     #ef596f;
$codePurple:                  #c85fde;
$codeGreen:                   #bcffac;
// GRADIENTS
$orangePinkGradient:            linear-gradient(-45deg,#e52e71, #fcca42);
$buttonGradient:                linear-gradient(180deg, #1a1a1a 30%, #0c0c0c);
$buttonGradientHover:           linear-gradient(180deg, #0c0c0c 30%, #1a1a1a);
$buttonGradientLrg:             linear-gradient(180deg, #1a1a1a 50%, #0c0c0c 85%, #0c0c0c);
$buttonGradientHoverLrg:        linear-gradient(180deg, #0c0c0c 15%, #1a1a1a 50%, #1a1a1a);
// IMAGE URLS
$dottedImg:                     url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);



// ---------- SIZES ---------
// FONT SIZE
$xxlFont:                       26px;
$xlgFont:                       22px;
$lrgFont:                       18px;
$medFont:                       16px;
$smlFont:                       14px;
$xsmFont:                       12px;
$xxsFont:                       10px;
// BORDER SIZE
$borderThin:                    1px;
$borderMedium:                  2px;
$borderThick:                   3px;
$borderRadius:                  2px;
$circleRadius:                  100%;



// ----------- BORDERS ---------
$primaryBorder:                 $borderThin    solid  $primaryBorderColor;
$secondaryBorder:               $borderThin    solid  $secondaryBorderColor;
$tertiaryBorder:                $borderThin    solid  $tertiaryBorderColor;
$shadeBorder:                   $borderThin    solid  $shadeBorderColor;
$warningBorder:                 $borderMedium  dotted $warningTextColor;
$messageBorder:                 $borderThick   dashed $messageBorderColor;