// ----------- COLOR PALETTE ----------
// BACKGROUND COLORS
$primaryBackgroundColor:      #202020;
$secondaryBackgroundColor:    #161616;
$tertiaryBackgroundColor:     #101010;
$messageShadeBackgroundColor: #000000b3;
$buttonHoverBackgroundColor:  #ffffff27;
// BORDER COLOR
$primaryBorderColor:          #7a7a7a;
$secondaryBorderColor:        #3e3e3e;
$tertiaryBorderColor:         #2a2a2a;
$messageBorderColor:          #222222;
$shadeBorderColor:            #1a1a1a;
// TEXT COLOR
$primaryTextColor:            #c2c2c2;
$secondaryTextColor:          #b7b7b7;
$tertiaryTextColor:           #887c8b;
$activeButtonTextColor:       #4cc3f1;
$warningTextColor:            #ff1493;
$buttonInactiveColor:         #0c0c0c;
// CODE TEXT COLORS
$codeBlue:                    #8cebde;
$codeYellow:                  #ffe188;
$codeOrange:                  #fca266;
$codeWhite:                   #d4daec;
$codeRed:                     #ef596f;
$codePurple:                  #e56efd;
$codeGreen:                   #bcffac;
$codeGray:                    #474747;



// ----------- GRADIENTS -----------
$orangePinkGradient:            linear-gradient(-45deg,#e52e71, #fcca42);
$buttonGradient:                linear-gradient(180deg, #1a1a1a 30%, #0c0c0c);
$buttonGradientHover:           linear-gradient(180deg, #0c0c0c 30%, #1a1a1a);
$buttonGradientLrg:             linear-gradient(180deg, #1a1a1a 50%, #0c0c0c 85%, #0c0c0c);
$buttonGradientHoverLrg:        linear-gradient(180deg, #0c0c0c 15%, #1a1a1a 50%, #1a1a1a);
$anim1Gradient:                 linear-gradient(120deg, #e52e71, #bcffac, #e52e71);
$anim2Gradient:                 linear-gradient(120deg, #4cc3f1, #fca266, #4cc3f1);
$anim3Gradient:                 linear-gradient(120deg, #4cc3f1, #ff1493, #4cc3f1);



// ----------- IMAGE URLS -----------
$dottedImg:                     url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);



// ---------- SIZES ---------
// FONT SIZE
$xxlFont:                       26px;
$xlgFont:                       22px;
$lrgFont:                       18px;
$medFont:                       16px;
$smlFont:                       14px;
$xsmFont:                       12px;
$xxsFont:                       10px;
// BORDER SIZE
$borderThin:                    1px;
$borderMedium:                  2px;
$borderThick:                   3px;
$borderRadius:                  2px;
$circleRadius:                  100%;



// ----------- BORDERS ---------
$primaryBorder:                 $borderThin    solid  $primaryBorderColor;
$secondaryBorder:               $borderThin    solid  $secondaryBorderColor;
$tertiaryBorder:                $borderThin    solid  $tertiaryBorderColor;
$shadeBorder:                   $borderThin    solid  $shadeBorderColor;
$warningBorder:                 $borderMedium  dotted $warningTextColor;
$messageBorder:                 $borderThick   dashed $messageBorderColor;



// ----------- PATTERNS -----------
$zigzagPattern:                 linear-gradient(150deg, rgb(9, 9, 9) 0% 24%, rgba(255, 255, 255, 0.15) 24%, black 26% 26.1%, transparent 26.1% 74%, rgba(255, 255, 255, 0.15) 74% 76%, black 76%) 0 15px,     
                                linear-gradient(30deg, black 0% 24%, rgba(255, 255, 255, 0.15) 24%, black 26% 26.1%, transparent 26.1% 74%, rgba(255, 255, 255, 0.15) 74% 76%, black 76%) 0 15px;
