@import "../../variables/variables.scss";

.GradientField {
    background: $secondaryBackgroundColor;
    border-bottom: $secondaryBorder;
    height: 150px;
    header {
        height: $xlgFont;
        width: 100%;
        padding: 0;
        background: $secondaryBackgroundColor;
        font-size: $medFont;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: $tertiaryBorder;
        cursor: default;
        .GradientField__index {
            width: $lrgFont;
            height: $lrgFont;
            margin: 0 15px 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $secondaryTextColor;
            color: $secondaryBackgroundColor;
            font-size: $xsmFont;
            font-weight: bolder;
            text-align: center;
            line-height: $lrgFont;
            border-radius: $circleRadius;
        }
        .GradientField__name {
            cursor: text;
            input {
                background: $secondaryTextColor;
                border-style: none;
                color: $secondaryBackgroundColor;
                font-size: $smlFont;
            }
        }
        & > div:last-child {
            margin-left: auto;
        }
        .GradientField__header__button-box {
            height: 100%;
            display: flex;
            button {
                position: relative;
                height: 100%;
                width: 35px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: none;
                border-left: $tertiaryBorder;
                color: $primaryTextColor;
                font-size: $xlgFont;
                line-height: $xlgFont;
                vertical-align: middle;
                cursor: pointer;
                & > div {
                    position: absolute;
                    width: 100%;
                    height: 100%;              
                }
                &:hover {
                    background: $secondaryBorderColor;
                    color: $activeButtonTextColor;
                    font-size: $lrgFont;
                }
                &:last-child:hover { color: $warningTextColor; }
            }
        }
    }
    .GradientField__body {
        width: 100%;
        min-height: calc(100% - 22px);
        display: flex;
        .GradientField__preview {
            min-height: 100%;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                width: 50px;
                height: 50px;
                border: $secondaryBorder;
                cursor: pointer;
            }
        }
        .GradientField__settings {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-left: $tertiaryBorder;
        }
    }
}