@import "../../variables/variables.scss";

.GradientList {
    position: relative;
    height: 100%;
    width: 60%;
    order: 3;
    color: $primaryTextColor;
    overflow-y: auto;
    overflow-x: hidden;
    & > header button {
        font-size: $xxlFont;
        font-weight: lighter;
        &:hover {
            font-size: $xlgFont;
            color: $activeButtonTextColor;
        }
    }
    .gradients {
        display: flex;
        flex-direction: column;
    }
}