@import "../../variables/variables.scss";

.GradientList {
    position: relative;
    height: 100%;
    width: 60%;
    order: 3;
    color: $primaryTextColor;
    overflow-y: auto;
    overflow-x: hidden;
    & > header
        div {
            max-height: 30px;
            background: $buttonGradient;
            &:hover { background: $buttonGradientHover; }
            button {
                max-height: 30px;
                font-size: $xlgFont;
                font-weight: lighter;
                &:hover {
                    font-size: $xlgFont;
                    color: $activeButtonTextColor;
            }
        } 
    }
    .gradients {
        display: flex;
        flex-direction: column;
    }
}