@import "../../constants/constants.scss";

.GradientList {
    position: relative;
    height: 100%;
    width: 60%;
    background: $dottedImg;
    order: 3;
    color: $primaryTextColor;
    overflow-y: auto;
    overflow-x: hidden;
    & > header {
        div {
            height: 100%;
            max-height: 30px;
            width: 72px;
            display: flex;
            button {
                background: $buttonGradient;
                height: 100%;
                max-height: 30px;
                width: 35px;
                font-size: $xlgFont;
                font-weight: lighter;
                &:first-child {
                    margin-right: 1.5px;
                }
                &:hover { background: $buttonGradientHover; }
                div {
                    width: 20px;
                    height: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    pointer-events: none;
                }
                &:hover div {
                    width: 18px;
                    height: 18px;
                }
            } 
        }
    }
    .gradients {
        display: flex;
        flex-direction: column;
    }
}