@import "../../constants/constants.scss";

.CodeSettings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow-y: auto;
    background: $secondaryBackgroundColor;
    h2 {
        font-size: $lrgFont;
        text-align: center;
    }
    & > div {
        width: 100%;
        height: 14%;
        border-bottom: $tertiaryBorder;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &:last-child {
            border: none;
            button {
                padding: 2px 30px;
            }
        }
    }
    p {
        color: $secondaryTextColor;
        font-size: $medFont;
        width: 100%;
    }
    button {
        position: relative;
        height: 26px;
        padding: 0 10px;
        background: transparent;
        background: $buttonGradient;
        color: $primaryTextColor;
        font-size: $medFont;
        border: $secondaryBorder;
        border-radius: $borderRadius;
        text-shadow: -1px -1px black;
        cursor: pointer;
        &:hover {
            background: $buttonHoverBackgroundColor;
            background: $buttonGradientHover;
            color: $activeButtonTextColor;
            text-shadow: 1px 1px black;
        }
    }
    span {
        color: $tertiaryTextColor;
        font-size: $xsmFont;
    }
    .CodeSettings__background-size {
        & > div {
            min-width: 240px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > div {
                width: 80px;
                height: 100%;
                &:last-child {
                    height: 22px;
                    width: 60px;
                }
            }
        }
    }
    .CodeSettings__background-color {
        .background-color-div {
            height: 22px;
            min-width: 80px;
            border: $tertiaryBorder;
            cursor: pointer;
            & > div {
                width: 100%;
                height: 100%;
            }
        }
        .ToggleButton {
            width: 60px;
            margin-left: 10px;
        }
    }
    .CodeSettings__vendor-prefixes, .CodeSettings__preferred-format {
        & > div {
            display: flex;
            justify-content: space-evenly;
            button {
                margin-left: 5px;
            }
        }
    }
}


@media only screen and (max-width: 500px) {
 .CodeSettings {
        h1 {
            font-size: $medFont;
        }
        button {
            font-size: $xsmFont;
        }
        p {
           font-size: $smlFont;
        }
        span {
            font-size: $xxsFont;
        }
    }
}