.ColorHint {
    position: absolute;
    top: 0;
    height: 66.6%;
    width: 40px;
    & > div {
        height: 33.3%;
    }
    .ColorHint__text-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        background: #161616;
        font-size: 10px;
        border: none;
        border-bottom: 1px solid rgba(221, 221, 221, 0.2);
        & > input {
            max-width: 40px;
            height: 100%;
            border: none;
            background: transparent;
            box-shadow: none;
            color: #ddd;
            text-align: center;
            font-size: inherit;
        }
        input:invalid {
            border: none;
            color: deeppink;
            border-bottom: 1px dotted deeppink;
        }
    }        
    .ColorHint__thumb {
        position: relative;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        svg {
            position: absolute;
            height: 100%;
        }
        & > div {
            position: relative;            height: 65%;
            width: 14px;
            border-radius: 100%;
            pointer-events: auto;
            display: flex;
       }
    }
}