@import "../../variables/variables.scss";

.ColorHint {
    position: absolute;
    top: 0;
    height: 66.6%;
    width: 40px;
    & > div {
        height: 33.3%;
    }
    .ColorHint__text-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        background: $secondaryBackgroundColor;
        font-size: $xxsFont;
        border: none;
        border-bottom: $tertiaryBorder;
        & > input {
            max-width: 40px;
            height: 100%;
            border: none;
            background: transparent;
            box-shadow: none;
            color: $primaryTextColor;
            text-align: center;
            font-size: inherit;
        }
        input:invalid {
            border: none;
            color: $warningTextColor;
            border-bottom: $warningBorder;
        }
    }        
    .ColorHint__thumb {
        position: relative;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        svg {
            position: absolute;
            height: 100%;
            line {
                stroke: $secondaryBorderColor;
                stroke-width: 1px;
            }
        }
        & > div {
            position: relative;
            height: 65%;
            width: 14px;
            border-radius: $circleRadius;
            pointer-events: auto;
            display: flex;
       }
       .ColorHint--delete-on {
            border: $warningBorder;
        }
    }
}