$primaryBg: #111;
$primarytColor: #e5e5e5;

.ColorPicker {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 40px;
    top: 40px;
    background: $primaryBg;
    color: $primarytColor;
    font-family: "Abel";
    border-radius: 5px;
}

.ColorPicker__header {
    height: 25px;
    width: 100%;
    background: #0c0c0c;
    font-size: 18px;
    border-radius: 4px 4px 0 0;
}