@import "../../constants/constants.scss";

.Gallery {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    display: flex;
    align-items: center;
    background: $buttonGradientHover;
    border-top: $tertiaryBorder;
    border-bottom: $tertiaryBorder;
    overflow-x: auto;
    .Image {
        min-width: 200px;
        width: 150px;
        height: 80%;
        margin: 0 5px;
        border: $secondaryBorder;
        span {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 20px;
            text-align: center;
            border-bottom: $secondaryBorder;
            span {
                display: flex;
                justify-content: center;
                font-family: "Fantasque";
                font-size: $smlFont;
                color: $tertiaryTextColor;
                align-items: center;
            }
            span:first-child {
                min-width: 20px;
                width: 20px;
                border-right: $secondaryBorder;
            }
            span:last-child {
                display: inline-block;
                width: calc(100% - 20px);
                padding: 0 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 20px;
            }
        }
        div {
            width: 100%;
            height: calc(100% - 20px);
            cursor: pointer;
            div {
                width: 100%;
                height: 100%;
                &:hover {
                    border-radius: 3px;
                    border: $activeButtonTextColor solid 3px;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}