@import "../../constants/constants.scss";

$primaryBg: #181719;
$primarytColor: #c2c2c2;
$borderColor: #111;
$border: 1px solid $borderColor;

.ColorPicker {
    position: absolute;
    width: 500px !important;
    max-width: 500px;
    height: 350px;
    color: $primarytColor;
    background: $primaryBg;
    font-family: "Abel";
    border: $border;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    z-index: 10000;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    box-sizing: content-box;
    .ColorPicker--button-theme {
        background: -moz-linear-gradient(top, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
        background: -ms-linear-gradient(top, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
        background: -o-linear-gradient(top, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
        background: -webkit-gradient(linear, top from(#1a1a1a), color-stop(0.1, #1a1a1a), to(#0c0c0c));
        background: -webkit-linear-gradient(top, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
        background: linear-gradient(to bottom, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border: $border;
        text-shadow: -1px -1px black;
        &:hover {
            background: -moz-linear-gradient(bottom, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
            background: -ms-linear-gradient(bottom, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
            background: -o-linear-gradient(bottom, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
            background: -webkit-gradient(linear, bottom from(#1a1a1a), color-stop(0.1, #1a1a1a), to(#0c0c0c));
            background: -webkit-linear-gradient(bottom, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
            background: linear-gradient(to top, #1a1a1a 0%, #1a1a1a 10%, #0c0c0c 100%);
        }
    }
}

.ColorPicker__header {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0, 0.2);
    font-size: 18px;
    border-bottom: $border;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    .ColorPicker__result-colors {
        margin: 3px;
        width: 70px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div {
            margin: 0 1px;
            width: 50%;
            height: 70%;
            border: $border;
            div {
                width: 100%;
                height: 100%;
            }
        }
        > div:first-child {
            border-radius: 4px 0 0 0;
            -webkit-border-radius: 4px 0 0 0;
            -moz-border-radius: 4px 0 0 0;
            -ms-border-radius: 4px 0 0 0;
            -o-border-radius: 4px 0 0 0;
            > div {
                border-radius: 3px 0 0 0;
                -webkit-border-radius: 3px 0 0 0;
                -moz-border-radius: 3px 0 0 0;
                -ms-border-radius: 3px 0 0 0;
                -o-border-radius: 3px 0 0 0;
            }
        }
    }
    .color-code {
        color: #555f64;
        font-size: 14px;
        font-family: monospace;
    }
    .button-box {
        display: flex;
        height: 100%;        
        button {
            position: relative;
            padding: 0 1px;
            min-height: 95%;
            min-width: 30px;
            color: #4cc3f1;
            font-size: 16px;
            cursor: pointer;
            div {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                .ColorPicker__active-sign {
                    position: absolute;
                    top: 5%;
                    right: 5%;
                    width: 5px;
                    height: 5px;
                    background: #4cc3f1;
                    border-radius: 3px 0 0 0;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
            }
            &:hover { 
                font-size: 14px;
                > div:first-child {
                    transform: scale(0.9);
                    -webkit-transform: scale(0.9);
                }
            }
        }
        .close-btn {
            color: deeppink;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

.ColorPicker__body {
    position: relative;
    width: 100%;
    height: calc(100% - 25px);
    .ColorPicker__body--palette-mode {
        width: 100%;
        height: 100%;
    }
}

.ColorPicker__upper-box {
    width: 100%;
    height: 70%;
    display: flex;
    .ColorPicker__palette {
        position: relative;
        margin: 2% 0 2% 5%;
        width: 85%;
        height: 92%;
        border: $border;
        canvas {
            width: 100%;
            height: 100%;
            cursor: crosshair;
            z-index: 1;
        }
        .ColorPicker__color-palette-cursor {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #222;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            z-index: 2;
            cursor: none;
            > div {
                width: calc(100%);
                height: calc(100%);
                border: 3px solid white;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                cursor: none;
                > div {
                    width: calc(100%);
                    height: calc(100%);
                    border: 2px solid black;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    cursor: none;
                }
            }
        }
    }
    .ColorPicker__text-inputs {
        width: 25%;
        height: 92%;
        margin: 2% 5% 2% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        cursor: default;
        > div {
            display: flex;
            padding-left: 20%;
            justify-content: space-between;
            color: #ddd1e4dc;
            text-shadow: -2px -2px 2px black;
            input {
                background: rgba(255, 255, 255, 0.035);
                color: #fff;
                text-align: center;
                width: 60%;
                border: $border;
            }
        }
        > p {
            width: 100%;
            display: flex;
            justify-content: space-between;
            cursor: default;
            > span:first-child {
                padding-left: 18%;
                width: 20%;
            }
            > span:last-child {
                width: 50%;
                text-align: center;
                color: #eee;
            }
        }
    }
}

.ColorPicker__lower-box {
    width: 100%;
    height: 30%;
    > div {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    > div:last-child { height: 40%; }
    .ColorPicker__ok-btn-box {
        button {
            height: 65%;
            min-width: 30px;
            padding: 0 20px;
            color: $primarytColor;
            font-size: 17px;
            cursor: pointer;
            &:hover { font-size: 14px; }
        }
    }
}

.ColorPicker__slider-bg {
    width: 90%;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border: $border;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background: -moz-linear-gradient(bottom, #111 0%, #1a1a1a 10%, #0c0c0c 100%);
    background: -ms-linear-gradient(bottom, #111 0%, #1a1a1a 10%, #0c0c0c 100%);
    background: -o-linear-gradient(bottom, #111 0%, #1a1a1a 10%, #0c0c0c 100%);
    background: -webkit-gradient(linear, bottom from(#111), color-stop(0.1, #1a1a1a), to(#0c0c0c));
    background: -webkit-linear-gradient(bottom, #111 0%, #1a1a1a 10%, #0c0c0c 100%);
    background: linear-gradient(to top, #111 0%, #1a1a1a 10%, #0c0c0c 100%);
}

.ColorPicker__hue-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    .ColorPicker__hue {
        position: relative;
        width: calc(100% - 12px);
        height: 4px;
        border: $border;
        background: -moz-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
        background: -ms-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
        background: -o-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
        background: -webkit-gradient(linear, left from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
        background: -webkit-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
        background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        canvas {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            cursor: pointer;

        }
    }
}

.ColorPicker__alpha-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .ColorPicker__alpha-bg {
        width: calc(100% - 12px);
        height: 4px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: $border;
        .ColorPicker__alpha {
            position: relative;
            width: 100%;
            height: 4px;
            background: -moz-linear-gradient(left, #ff0000 0%, transparent 100%);
            background: -ms-linear-gradient(left, #ff0000 0%, transparent 100%);
            background: -o-linear-gradient(left, #ff0000 0%, transparent 100%);
            background: -webkit-gradient(linear, left from(#ff0000), to(#ff0000));
            background: -webkit-linear-gradient(left, #ff0000 0%, transparent 100%);
            background: linear-gradient(to right, #ff0000 0%, transparent 100%);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            cursor: pointer;
        }
    }
}

.ColorPicker__slider-thumb {
    position: absolute;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform: translate(-11px, -9.5px);
    -webkit-transform: translate(-11px, -9.5px);
    cursor: pointer;
    &:hover, &.thumb-hover {
        transform: translate(-11px, -9.5px) rotate(180deg);
        -webkit-transform: translate(-11px, -9.5px) rotate(180deg);
    }
}

.ColorPicker__body--history-mode, .ColorPicker__body--names-mode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primaryBg;
    z-index: 3;
}

.ColorPicker__body--history-mode {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    & > div {
        margin: 3px;
        min-width: calc(8% - 3px);
        height: 20px;
        border: $border; 
        div {
            width: 100%;
            height: 100%;
        }
    }
}

.ColorPicker__body--names-mode {
    overflow: auto;
    font-weight: normal;
    .ColorPicker__color-names__header {
        height: 7%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            position: relative;
            width: 16.6%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            height: 100%;
            color: #aadae9;
            font-size: 16px;
            .ColorPicker__active-sign {
                position: absolute;
                top: 5%;
                right: 5%;
                width: 5px;
                height: 5px;
                background: #4cc3f1;
                border-radius: 3px 0 0 0;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
            &:hover { font-size: 14px; }
        }
    }
    
    .ColorPicker__color-names {
        width: 100%;
        height: 5%;
        .ColorPicker__color-name {
            display: flex;
            &:hover { .ColorPicker__color-name__hex { background-color: rgba(255, 255, 255, 0.05); }}
            .ColorPicker__color-name__sample {
                width: 70%;
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
                text-align: left;
                span { font-style: italic; }
            }
            .ColorPicker__color-name__hex {
                width: 30%;
                text-align: center;
            }
        }
    }
    table {border-collapse: collapse;}
    .ColorPicker__color-row {
        td {
            width: 10%;
            height: 20px;
            text-align: center;
            font-size: 12px;
        }
    }
}

.ColorPicker__body--history-mode {
    display: flex;
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .ColorPicker {
        position: absolute;
        left: 0 !important;
        top: 0 !important;
        width: 100%;
        height: 100%;
    }
    .ColorPicker__header {
        height: 8.5vh;
        flex-wrap: wrap;
        > div {max-height: 50%;}
        .color-code {
            width: 100%;
            order: 3;
            flex-grow: 2;
            text-align: center;
        }
        .button-box {min-height: 50%;}
    }
    .ColorPicker__upper-box {
        height: 70%;
        flex-direction: column;
        .ColorPicker__palette {
            width: 90%;
            height: 75%;
            margin: 2% 5%;
        }
        .ColorPicker__text-inputs {
            width: 90%;
            height: 25%;
            margin: 2% 5%;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            > div:nth-child(1) {  order: 0; }
            > div:nth-child(2) {  order: 1; }
            > div:nth-child(3) {  order: 2; }
            > div:nth-child(4) {  order: 6; }
            > div:nth-child(5) {  order: 3; }
            > div:nth-child(6) {  order: 4; }
            > div:nth-child(7) {  order: 5; }
            > div:nth-child(8) {  order: 7; }
            > p {  order: 8; }
            > div, > p {
                margin: 0 0 0 1.3%;
                padding: 0;
                width: 32%;
            }
            > p {
                > span:first-child {
                    width: 40%;
                    padding-left: 0;
                }
                > span:last-child {
                    width: 60%;
                }
            }
        }
    }
    .ColorPicker__lower-box {
        height: 20%;
    }
}