@import "../../variables/variables.scss";

.GradientSliderButtonBox {
    display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70px;
        height: 100%;
        border-left: $tertiaryBorder;
        & > div {
            width: 100%;
            height: 50%;
            display: flex;
            &:first-child {
                border-bottom: $tertiaryBorder;
                button {
                    width: 50%;
                    font-size: $xlgFont;
                    &:first-child { border-right: $tertiaryBorder; }
                    &:hover { font-size: $lrgFont; }
                }
            }
            &:last-child {
                button {
                    width: 100%;
                }
            }
        }
        button {
            position: relative;
            height: 100%;
            border: none;
            background: transparent;
            color: $primaryTextColor;
            font-size: $medFont;
            cursor: pointer;
            &:hover {
                background: $secondaryBorderColor;
                color: $activeButtonTextColor;
                font-size: $smlFont;
            }
        }
}