@font-face {
    src: url("./fonts/Abel-Regular.ttf");
    font-family: "Abel";
}

@import "./constants/constants.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel";
    outline: none;
    font-weight: normal;
    user-select: none;
    outline: none !important;
}

.btn--inactive, .btn--active {
        position: absolute;
        width: 6px;
        height: 6px;
        top: 3px;
        right: 3px;
        border-radius: 5px;
        border: $tertiaryBorder;
    }
.btn--inactive { background: $buttonInactiveColor; }
.btn--active { background: $activeButtonTextColor; }
    
.App {
    position: relative;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background: $primaryBackgroundColor;
    font-weight: bold;
    overflow-x: hidden;
    > div > header {
        width: 100%;
        height: 30px;
        max-height: 30px;
        background: $secondaryBackgroundColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $lrgFont;
        color: $primaryTextColor;
        padding: 0 0 0 5px;
        border-bottom: $primaryBorder;
        cursor: default;
        button {
            width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $orangePinkGradient;
            background-clip: text;
            color: transparent;
            border: none;
            border-left: $tertiaryBorder;
            cursor: pointer;
            &:hover { 
                background-clip: none;
                color: $activeButtonTextColor;
            }
        }
    }
    & > * {
        flex: 1 1 50%;
        border: 1px solid #888;
    }
    .fullscreen-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001;
    }
}

@media only screen and (max-width: 1000px) {
    .App {
        overflow: auto;
        flex-flow: row wrap;
        padding: 0;
        > div {
            width: 100%;
        }
        & > *:not(.ColorPicker) {
            min-width: 100%;
            flex: 1;
        }
        .ResultDisplay {
            order: 1;
        }
        .GradientList {
            height: 50%;
            order: 2;
            margin-left: 0;
        }
        .Code {
            order: 3;
        }
    }
}

@media only screen and (max-width: 500px) {
    .App .ColorPicker { max-width: 100%; }
    .App .GradientField { 
        height: 180px;
    }
}