@import "../../variables/variables.scss";

.ResultDisplayMenu {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    min-width: 120px    ;
    max-width: 150px;
    padding: 10px;
    background: #202020;
    color: $primarytColor;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 16px;
        text-align: center;
    }
    div {
        padding: 5px 0;
    }
    div div {
        display: flex;
        justify-content: space-between;
        &:hover { background: rgba(255, 255, 255, 0.05); }
        label {
            cursor: pointer;
        }
    }
    button {
        font-size: 16px;
        border: 1px solid $primarytColor;
        background: transparent;
        color: $primarytColor;
        &:hover { background: rgba(255, 255, 255, 0.05); }
    }
}