.GradientSlider {
    position: relative;
    width: 100%;
    padding: 0 0 0 10px;
    display: flex;
    .GradientSlider__ruler {
        display: flex;
        flex-direction: column;
        width: calc(100% - 50px);
        .GradientSlider__text-box {
            height: 33.3%;
        }
        .GradientSlider__ruler-box {
            height: 33.3%;
            display: flex;
        }
        .GradientSlider__thumbs-box {
            position: relative;
            height: 33.3%;
            > div {
                position: absolute;
                bottom: 0;
                width: 15px;
                height: 15px;
                border: 1px solid #ddd;
            }
        }
    }
    .GradientSlider__btn-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        width: 50px;
        height: 100%;
        border-left: 1px solid rgba(221, 221, 221, 0.1);
        button {
            height: 100%;
            border: none;
            background: transparent;
            color: #ddd;
            font-size: 16px;
            &:first-child { border-bottom: 1px solid rgba(221, 221, 221, 0.1); }
            &:hover {
                background: rgba(255, 255, 255, 0.1);
                font-size: 14px;
            }
        }    
    }
}