.GradientSlider {
    position: relative;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    > div {
        width: 100%;
    }
    .GradientSlider__text-box {
        height: 33.3%;
    }
    .GradientSlider__line-box {
        height: 33.3%;
    }
    .GradientSlider__thumbs-box {
        height: 33.3%;
    }
}